*, *::after {
  box-sizing: border-box; /*-- sets box math for all elements --*/
}
nav {
  border: 1px solid #333;  /*-- adds a border to nav --*/
  margin-bottom: 4em;  /*-- adds big bottom margin --*/
  padding: .5em 0;  /*-- adds a little top and bottom padding --*/
}
body{
  width: 100%;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
}

img {
  width: 100%;
  position: center;
}


.card-title{
  position: center;
}
.main{
  text-align: center;
}
nav ul {
  list-style: none;
  display: inline-block;
}
nav ul li {
  display: inline-block; /*-- makes both lists horizontal --*/
  padding-left: 5em; 
}

/* holds all the cards. Makes them move when screen size changes*/
.flex-container {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;

}

.card {
  padding: 5px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 10px;
}
@media screen and (min-width: 550px) {
  .card {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    width: 33.333%;
  }
}
@media screen and (min-width: 1280px) {
  .card {
    width: 25%;
  }
}

.card-wrap{
  background: #2D6E7F;
  border: 5px solid #89BFCC;
  padding: 10px 10px;

}
.words{
}
.card-title{
  text-align: center;
  font-size: 20px;
}
.card-text{
  font-size: 12px;

}

.card-btn {
  text-transform: uppercase;  /*-- sets uppercase text --*/
  font-size: .75rem;  /*-- smaller font size --*/
  padding: .5rem;  /*-- a little internal space --*/
}


.card-image { /*-- general styles for card images --*/
  width: 100%;
  /*background-size: cover;  /*-- sets images size to cover --*/*/
/*  position: center center;  /*-- certers verically and horizontally --*/
  transition: filter 0.3s ease-in;  /*-- sets filter transition speed and easing --*/
}

.card-content {
  display: flex;  /*-- sets card-content wrapper to flex --*/
  flex: 1 1 auto;  /*-- sets flex-grow, flex-shrink, flex-basis values  --*/
  flex-direction: column; /*-- arranges children in a column  --*/
  padding: 1rem;  /*-- adds good padding inside card content area --*/
}
