body{
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
}
/* holds all the cards. Makes them move when screen size changes*/
.flex-container {
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  align-items: center;
  -webkit-flex-flow: row wrap;
justify-content: space-around;

}

.card {
  background: orange;
  border: 6px solid #dadada;
  padding: 5px;
  margin-top: 10px;
  line-height: 90px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  height: 50%;
  width: 60%;
}

.card-text{
  font-size: 14px;
}

.card-image { /*-- general styles for card images --*/
  width: 50%;
  height: auto;
  /*background-size: cover;  /*-- sets images size to cover --*/*/
  background-position: center center;  /*-- certers verically and horizontally --*/
  transition: filter 0.3s ease-in;  /*-- sets filter transition speed and easing --*/
}

.card-content {
  display: flex;  /*-- sets card-content wrapper to flex --*/
  flex: 1 1 auto;  /*-- sets flex-grow, flex-shrink, flex-basis values  --*/
  flex-direction: column; /*-- arranges children in a column  --*/
  padding: .75rem;  /*-- adds good padding inside card content area --*/
}

/*.img01 {
  background-image: url('pix/img01.jpg');
}*/

.img02 {
  background-image: url('pix/img02.jpg');
}

.img03 {
  background-image: url('pix/img03.jpg');
}

.img04 {
  background-image: url('pix/img04.jpg');
}
