*, *::after {
  box-sizing: border-box; /*-- sets box math for all elements --*/
}

body{
  width: 100%;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
}

img {
  width: 100%;
  position: center;
}


card-title{
  position: center;
}


/* holds all the cards. Makes them move when screen size changes*/
.flex-container {
  width: 25%;
  height: 110%;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  align-items: center;
  -webkit-flex-flow: column wrap;
  justify-content: space-around;

}

.card {
  background: #2D6E7F;
  border: 5px solid #89BFCC;
  padding: 5px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  height: 55%;
  width: 75%;
}

.card-text{
  font-size: 12px;
  position: center;
}

.card-title{
  font-size: 20px;
  position: center;
}

.card-image { /*-- general styles for card images --*/
  width: 100%;
  /*background-size: cover;  /*-- sets images size to cover --*/*/
/*  position: center center;  /*-- certers verically and horizontally --*/
  transition: filter 0.3s ease-in;  /*-- sets filter transition speed and easing --*/
}

.card-content {
  display: flex;  /*-- sets card-content wrapper to flex --*/
  flex: 1 1 auto;  /*-- sets flex-grow, flex-shrink, flex-basis values  --*/
  flex-direction: column; /*-- arranges children in a column  --*/
  padding: 1rem;  /*-- adds good padding inside card content area --*/
}
